<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gfycat challenge</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="app.js"></script>
    <style>
        body{
            margin-top:100px;
            background-color: #cccccc;
        }
        .content{
            margin-left:5%;
        }
        video{
            background-color:#666666;
            margin-bottom:10px;
        }
        .displayVideos{
            display:inline;
            padding:20% 10%;
        }
        footer{
            text-align: center;
            color: #cccccc;
            padding:20px 0;
            font-weight:bold;
            background:black;
        }
        .top-bar{
            height:5px;
            background:#ca2129;
            margin-bottom:1px;
        }

        .navbar{
            margin-bottom:1px;
        }

        .navbar li:hover{
            background:#e7e7e7;
        }

        li.login a{
            background:#ca2129;
            color:#ffffff !important;
            padding-right:22px;
            padding-left:22px;
        }

        li.login a:hover,.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
            background:#cccccc;
        }

        li.register a{
            background:#2f98cc;
            color:#ffffff !important;
        }

        li.register a:hover,.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
            background:#cccccc;
        }
    </style>
</head>
<body ng-app="myapp" ng-controller="myCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="top-bar"></div>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="font-size:28px;"class="navbar-brand" href="/">{{pageTitle}}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <li class="login"><a href="#">Login</a></li>
                    <li class="register"><a href="#">Register</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <player videos="contentInput"></player>
    </div>
<footer>
    Copyright &copy; Bhavya Reddivari 2016
</footer>
</body>
</html>